{% extends 'base.html.twig' %}

{% block title %}
	S'inscrire
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-2">
		<h1 class="text-center">S'inscrire</h1>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit" class="btn btn-primary">S'inscrire</button>
		{{ form_end(form) }}
	</section>
{% endblock %}
