{% extends 'Backend/base.html.twig' %}

{% block title %}
	Créer un produit
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-2">
		<h1 class="text-center">Créer un produit</h1>
		{% include 'Backend/Product/_form.html.twig' with { buttonLabel: 'Créer' } %}
	</section>
{% endblock %}
