{% extends 'Backend/base.html.twig' %}

{% block title %}
	Modifier un produit
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-2">
		<h1 class="text-center">Modifier un produit</h1>
		{% include 'Backend/Product/_form.html.twig' with { buttonLabel: 'Modifier' } %}
	</section>
{% endblock %}
